// Imports:
@import '../variables/_breakpoints';

// Styles:
h2 {
  font-family: 'Bitter', serif;
  font-size: 2rem;
  line-height: 3rem;

  @media (max-width: @breakpoint-mobile) {
    font-size: 1.8rem;
    line-height: 2.8rem;
    text-align: left;
  }

  a {
    font-family: inherit;
    font-size: inherit;
    font-weight: 400;
    line-height: inherit;
  }
}
