// Imports:
@import '../variables/_breakpoints';
@import '../variables/_colors';

// Styles:
div.menu {
  height: 3rem;
  padding: 4rem 0;
  transition: all 500ms ease;
  width: 100%;

  div {
    height: 3rem;
  }

  div.logo {
    background-image: url('./../gfx/logo.svg');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    cursor: pointer;
    float: left;
    width: 16rem;
  }

  div.links {
    float: right;
    text-align: right;

    @media (max-width: @breakpoint-mobile) {
      display: none;
    }

    a {
      font-size: 1.3rem;
      font-weight: 700;
      line-height: 3rem;
      margin-left: 1.5rem;
      text-decoration: none;
    }
  }

  div.toggle {
    display: none;
    float: right;
    height: 1.4rem;
    top: .8rem;
    width: 1.6rem;

    @media (max-width: @breakpoint-mobile) {
      display: block;
    }

    div.toggle-line {
      background: @orange;
      height: .2rem;
      right: 0;
      position: absolute;
      transition: all 250ms ease;
      width: 100%;
    }

    div.toggle-line-one {
      top: 0;
    }

    div.toggle-line-two {
      top: .6rem;
      width: 80%;
    }

    div.toggle-line-three {
      top: 1.2rem;
    }

    &:hover {
      div.toggle-line-two {
        width: 100%;
      }
    }
  }
}
